# Compiled Object files
*.o
*.obj
*.so
*.dll
*.dylib

# Executables
*.exe
*.out
*.app

# Static/Dynamic Libraries
*.a
*.lib

# CMake
CMakeFiles/
CMakeCache.txt
cmake_install.cmake
compile_commands.json
Makefile

# Build directories
build/
bin/
Debug/
Release/
cmake-build-debug/
# VSCode
.vscode/

# CLion / IntelliJ
.idea/
*.iml

# macOS
.DS_Store
